# Project exclude paths
.gitignore
__pycache__/
.idea/
.vs
.vscode
bin/
build/
lib/images/
old/
original/
projections/
results/
teoria/
videos-nas/
results
*.log
*.c
*.pyd
*.lnk
*.png
*.so
*.old
*.csv
*.pickle
*.zip
