python>=3.12
matplotlib~=3.5.3
pandas~=1.5.1
fitter~=1.5.1
opencv-python
scikit-image~=0.19.3
numpy~=1.23.4
scipy~=1.9.3
pillow~=10.3.0
tqdm~=4.66.3
py360tools~=0.1.0
scikit-video~=1.1.11
cycler~=0.11.0